@use '../custom' as *;

@mixin centarAllSelf {
  align-self: center;
  justify-self: center;
}

@mixin positionCentar {
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin borderBottom {
  border-bottom: 2px solid $white;
}

@mixin size3rem {
  width: 3rem;
  height: 3rem;
}

@mixin buttonProperty {
  text-transform: uppercase;
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}
